body, td { 
	margin:0px; 
	font-family:dotum; 
	letter-spacing:0px; 
	font-size:9pt; 
	color:#555555; 
}

a:link, a:visited, a:active { color:#333333; text-decoration:none; }
a:hover { text-decoration:underline; }

.num { font-family:dotum; font-size:8pt; color:#999999;}

.list_top_color {background-color:#FF87AF ; }
.list_bg_color { font-family:dotum; font-size:9pt; color:#333333; font-weight:bold; letter-spacing:-1px; padding-left:7px;}

.best_top_color {background-color:#EA628F; }