body, td { 
	margin:0px; 
	font-family:dotum; 
	letter-spacing:0px; 
	font-size:9pt; 
	color:#555555; 
}

a:link, a:visited, a:active { color:#333333; text-decoration:none; }
a:hover { text-decoration:underline; }





.left_menu_title { font-family:dotum; font-size:9pt; color:#333333; font-weight:bold; letter-spacing:-1px;}
.left_submenu_title { font-family:dotum; font-size:9pt; color:#333333; font-weight:bold; letter-spacing:-1px; background:F1F1F1; padding-left:5px;}
